.git
.gitignore
.dockerignore

.env
.env.*
!.env.example
!.env.sample
.envrc

.tpfs
tmp
data
*.log

infra/pulumi/node_modules
infra/pulumi/dist
node_modules

**/.DS_Store
**/__pycache__
**/*.pyc
**/*.pyo
**/*.test
coverage.out
*.coverprofile
